* {
    all: initial;
    border: none;
    border-radius: 0;
    font-family: NotoSansNerdFont;
    font-weight: Bold;
    font-size: 12px;
    min-height: 0;
}
/*background: rgba(27, 30, 32, 0.6);*/
window#waybar {
    background: rgba(27, 30, 32, 0.5);
}

tooltip {
    background: @theme_base_color;
    border: 2px solid #11111b;
}

#workspaces {
    padding-left: 4px;
}

#workspaces button {
    padding: 5px; 
    color: #a5a5a5;
}

#workspaces button.active {
    color: white;
    border-bottom: 1.5px solid white;
}

#workspaces button.urgent {
    color: #11111b;
    background: rgba(166, 227, 161, 0.5);
}

#workspaces button:hover {
    color: #e6e6e6;
    background: rgba(17, 17, 27, 0.5);
}

#battery,
#backlight,
#bluetooth,
#clock,
#cpu,
#custom-clip,
#custom-launcher,
#custom-power,
#custom-temp,
#custom-updates,
#custom-weather,
#disk,
#memory,
#mpris,
#network,
#pulseaudio,
#tray,
#window {
    padding: 0px 4px;
    margin: 0px 0px;
    margin-top: 0px;
    border: none;
}

#window {
    padding: 5px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    color: white;
}

#battery.charging {
    color: #00ff50;
}

#battery.low:not(.charging) {
    color: #ff0000;
}

#custom-power {
    margin-left: 0px;
    border-right: 0px;
}

#cpu {
    margin-left: 0px;
    border-right: 0px;
}
